/*------------ Estilização universal, sendo o cabeçalho e o rodapé ------------*/

* { /* Reset da formatação da página */
    margin: 0;
    padding: 0;
}

@font-face { /* Fonte usada nas páginas */
    font-family: 'Glacial Indifference';
    src: url('fonts/GlacialIndifference-Regular.ttf') format('truetype');
}


body { /* Estilização do corpo da página */
    background-color: #f6f6f6;
    height: 100vh;
    font-family: 'Glacial Indifference', 'Arimo', 'Roboto', sans-serif;
}

header { /* Cabeçãlho da página */
    background-color: #844444;
    height: 165px;
    border-bottom: #452625 solid 10px;
}

#logo { /* Estilização da logo do cabeçalho */
    position: absolute;
    left: 30px;
    transform: translateY(10%);
}

#logo img { /* Estilização da imagem da logo */
    height: 130px;
    width: auto;
    max-width: 100%;
}


#navbar { /* Estilização da navbar da página */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#navbar ul{ /* Estilização dos títulos das páginas */
    display: flex;
    align-content: center;
    margin-top: 150px;
    position: absolute;
}

 #inicio { /* Tirar o ponto antes do título de início */
    list-style: none;
 }

 #navbar li { /* Estilização dos títulos das páginas */
    margin-left: 10px;
    margin-right: 10px;
    list-style-position: inside;
    text-align: center;
    font-family: 'Glacial Indifference', sans-serif;
    color: #e7dac7;
 }

.search-box { /* Estilização da caixa de pesquisa */
    padding: 3.5px ;
    border-radius: 5px;
    margin-top: 35px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    background-color: #e7dac7;
}

.search-box input[type="text"] { /* Estilização da caixa de pesquisa */
    border: none;
    outline: none;
    padding: 10px 10px;
    background-color:white;
    width: 400px;
    font-size: 16px;
    border-radius: 20px;
}

.search-box input::placeholder { /* Estilização da palavra "Pesquisar" da caixa de pesquisa */
    color: rgba(0, 0, 0, 0.3);
}

.search-box button { /* Estilização do botão de pesquisa */
    background-color: #e7dac7;
    border: #e7dac7;
    padding: 5px;
    padding-bottom: 10px;
}

#end { /* Formatação da foto a direita, login e carrinho */
    position: absolute;
    right: 25px;
    transform: translateY(-50%);
}

#end img { /* Estilização da foto a direita */
    height: 60px;
    width: auto;
    max-width: 100%;
}

.rodape { /* Formatação do rodapé */
    border-top: #e7dac7 solid ;
    background-color: #452625;
    color: #e7dac7;
    padding: 10px 20px 15px;
    font-family: 'Glacial Indifference', 'Arimo', sans-serif;
}

.conteudo-rodape { /* Estilização do conteúdo do rodapé */
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.conteudo-rodape h3 { /* Estilização do conteúdo do rodapé */
    margin-bottom: 10px;
    font-size: 18px;
    color: #f0e3d0;
}

.info-contato p{ /* Estilização da informação de contato */
    margin: 5px 0;
    font-size: 15px;
    text-decoration: none;
    color: #e7dac7;
}

.redes-sociais h3 { /* Centralização vertical das redes sociais */
    text-align: center;
}

.redes-sociais p { /* Estilização do parágrafo de redes sociais */
    text-decoration: underline;
    display: inline-block;
    margin-right: 10px ;   
    cursor: pointer;
}

.redes-sociais img { /* Estilização dos icons de redes sociais */
    width: 30px;
    margin-right: 16px;
    margin-left: 10px;
    padding: 0px 12px;
    cursor: pointer;
}

.copy { /* Estilização dos direitos da Old Story no rodapé */
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #e7dac7;
    padding-top: 10px;
}

a { /* Tirar o azul dos links de todas âncoras */
    color: inherit;
    text-decoration: none;    
}

a:hover { /* Estilização das âncoras quando pressionados */
    color: #f0e3d0;          
    text-decoration: underline;
}
